html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: #161616;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 500px;
    height: 500px;
    perspective: 300px;
}

.img-wrapper {
    position: relative;
    z-index: 1;
    height: 100%;
    background: black;
    overflow: hidden;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
}

.img-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.img-holder {
    transform: scale(1.4);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: exclusion;
}

.title h1 {
    font-family: "Monument Extended";
    color: transparent;
    font-size: 36px;
    letter-spacing: 12px;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
}
